

.text3{
    padding-top: 140px;
    font-size: 18px;
}

#pS{
    padding-bottom: 27px;
}
#icoBS{
    width: 170px;
    height: 90px;
}
.diCo{
    padding-bottom: 80px;
}
#imaBS{
    margin-top: 20px;
    height: auto;
    width: 100%; 
    
}

@media only screen and (max-width: 600px){
    #imaBS{
         width: 100%;
        height: auto;
        object-fit: cover;
    }
}
#sub1{

    font-weight: bold;
    font-size: 50px;

}
@media only screen and (max-width: 600px){
    #sub1{
        font-size: 40px;
        font-weight: bold;
    }
}
#sub2{
    font-size: 80px;
    font-weight: bold;
}
@media only screen and (max-width: 600px){
    #sub2{
        font-size: 50px;
        font-weight: bold;
    }
}
h6{
    padding-left: 170px;

}
@media only screen and (max-width: 600px){
    h6{
        padding-left: 1px;
    }
}
.textoA{
    padding-left: 170px;
    font-size: 20px;
}
@media only screen and (max-width: 600px){
    .textoA{
        padding-left: 1px;
    }
}
#pS2{
    padding-bottom: 50px;
}