
.all2{
    background: black;
}
.imageHome{
    width: 100%;
    height: 1080px;
    
}
@media only screen and (max-width: 600px){
    .imageHome{
         width: 100%;
        height: 200px;
        object-fit: cover;
    }
}
.divBusi{
    display: flex;
 justify-content: center;
 align-items: center;
}

#ImageBusi{
    margin-top: 20px;
   height: 526px;
   width: 100%; 
   padding: 1rem;

}
#h1{
    margin-top: 35px;
    margin-bottom: 50px;
}
#titleHome1{
    
    color: rgb(184, 171, 102);
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}
#titleHome2{
    
    color: rgb(107, 96, 36);
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

#mai{
    display:block;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: white;
    text-align: justify;
    font-size: 26px;
    width: 100%;
    margin: 0;
    padding: 0px 64px 0px 64px;
}
#titleHome3{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    margin-top: 60px;

}
#titleHome4{
    color: rgb(184, 171, 102);
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 60px;

}
.all3{
    background: #290f21;
}
#mai2{
    display:block;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: white;
    text-align: center;
    font-size: 26px;
    width: 100%;
    margin: 0;
    padding: 0px 64px 0px 64px;
}
#services{
    color: white;
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
}
#services2{
    color: rgb(90, 74, 32);
    margin-top: 70px;
    padding-bottom: 80px;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    font-size:20px!important;
    text-shadow: #474508 0px 0px 0px;
}
#ImageSports{
    width: 500px;
    height: 500px;
    
}
@media only screen and (max-width: 600px){
    #ImageSports{
         width: 100%;
        height: 200px;
        object-fit: cover;
    }
}

#textSports{
    position:absolute;
    bottom: 0;
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;

text-shadow: 3px 5px 2px #474747;
      
}
#textLive{
    margin-left: 50px;
    position:absolute;
    bottom: 0;
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;

text-shadow: 3px 5px 2px #474747;
}
#textHorse{
    margin-left: 110px;
    position:absolute;
    bottom: 0;
    color: white;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;

text-shadow: 3px 5px 2px #474747;
}

.fut1{
    display: flex;
    justify-content: center;
    gap: 40px;
   
}
.square2{
    margin-top: 160px;
}
#textSub{
    display:block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    color: white;
    
    font-size: 26px;
    width: 100%;
    margin: 0;
    padding: 0px 64px 0px 64px;
}

.all4{
    background: black;
    padding-bottom: 150px;
}
#titleVip{
    text-align: center;
    color: rgb(114, 103, 43);
    padding-top: 150px;
    font-size: 50px;
    font-weight: bold;
    
}
.vip{
    margin-top: 40px;
}
.vip2{
    margin-top: 50px;
      
}
#mai3{
    display:block;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: white;
    text-align: center;
    font-size: 26px;
    width: 100%;
    margin: 0;
    padding: 0px 110px 0px 110px;
}
#mai4{
    
    margin-top: 40px;
    color: white;
    text-align: center;
    font-size: 26px;
    margin-left: 250px;
      
}
#titleVip2{
    color: rgb(107, 96, 36);
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}
#h1vip{
    margin-top: 120px;
}
.all5{
    background: rgb(3, 3, 24);
    padding-bottom: 70px;
}
#titleFull{
    text-align: center;
    color: white;
    padding-top: 60px;
    font-weight: bold;
}
li{
    color: rgb(156, 141, 141);
    text-align: start;
   margin-top: 20px;
   font-size: 20px;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#bu{
    background: goldenrod;
    text-align: center;
    color: black;
    
    font-weight: bold;
    width: 115px;
    height: 40px;
    padding-top: 5px;
    background: rgb(74,75,53);
background: linear-gradient(90deg, rgba(74,75,53,1) 23%, rgba(196,179,134,1) 46%, rgba(203,185,138,1) 61%, rgba(74,75,53,1) 80%);
}
.all6{
    background-image: linear-gradient(to right, #000000, #15000a, #22081a, #250722, #1e0225);
    padding-bottom: 60px;
}
.regis{
    padding-left: 60px;
    padding-top: 200px;
}
.regis2{
    padding-left: 60px;
    
}
.TitleRegis{
    color: rgb(107, 96, 36);
    font-size: 50px;
    font-weight: bold;
}
.TitleRegis2{
    color: rgb(107, 96, 36);
    font-size: 37px;
    font-weight: bold;
    padding-top: 40px;
}
.TitleRegis3{
    color: rgb(182, 174, 128);
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
}

.textRegis{
    padding-top: 20px;
    color: white;
    font-size: 20px;

}
#uno{
    font-family: 'Montserrat', sans-serif;
    font-size: 200px;
    color: rgb(107, 96, 36);
    padding-left: 70px;
    
}
#unotext{
    color: rgb(202, 186, 95);
    font-size: 20px;
    letter-spacing: 2px;
}
#dostext{
    color: rgb(202, 186, 95);
    font-size: 20px;
    margin-left: 210px;
    letter-spacing: 4px;
}
#dos{
    font-family: 'Montserrat', sans-serif;
    font-size:200px;
    color: rgb(107, 96, 36);
    
}
.num{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 300px;
}
.dosp{
    margin-left: 430px;
    color: rgb(223, 211, 147);

}
.all7{
    background: black;
    padding-top: 130px;
    padding-bottom: 100px;
}

.BlogHomeTitle{
    text-align: center;
    color: rgb(107, 96, 36);
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;

}
#Jhon{
    color: white;
    text-align: justify;
    padding-left: 54px;
}
#Jhon strong{
    color: rgb(107, 96, 36);
}
#Jhon1{
    color: rgb(107, 96, 36);
}

.btn-5 {
    background: rgb(29, 28, 25);
    color: rgb(196, 190, 110);
    font-size: 17px;
    line-height: 42px;
    height: 43px;
    border-radius: 3px;
    margin-right: 70px;
    border: none;
  }
  
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(117, 116, 18);
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  #iconShare{
      width: 30px;
      height: 30px;
      margin-left: 60px;
  }

  .all8{
      background: rgba(214,205,156,255);
      padding-top: 70px;
      
      z-index: 10;
  }
  
  .paymentsText h2{
      color: black;
      font-size: 50px;
      font-weight: bold;

  }
  .paymentsText p{
      color: black;
      padding-top: 3px;
      font-weight: bold;
  }

  .paymentsMethods{
      justify-content: center;
      align-items: center;
      display: flex;
  }
  
  .arrowDown{
     background: black;
    height: 0;
    width: 0 !important;
    border-style: solid;
    border-width: 20px 50px 0 50px;
    border-color: #d6cd9c #000 !important;
    margin: 0 auto !important;
  }

  .all9{
      background: black;
  }
  .joinText{
      padding-top: 150px;
      padding-bottom: 110px;
  }