#ImagePro{
    height: auto;
    width: 100%; 
}
@media only screen and (max-width: 600px){
    #ImagePro{
         width: 100%;
        
        object-fit: cover;
    }
}
.ti h3{
    font-size: 70px;
}
@media only screen and (max-width: 600px){
    .ti h3{
         font-size: 50px;
    }
}
